<br><br>
<h3>
	<font size="5">Contact Info</font>
</h3>

<!-- ====================================================================== -->
<!-- person attributes -->
<table class="display" border="1">
  <% @person.tap do |p| %>
	  <tr>
	    <th>Category</th>
	    <th>Your Info</th>
	  </tr>
	  <tr>
	  	<td>First Name</td>
	  	<td><%= p.firstname %></td>
 		</tr>
 		<tr>
 			<td>Last Name </td>
 			<td><%= p.lastname %></td>
 		</tr>
 		<tr>
 			<td>Email</td>
 			<td><%= p.email %></td>
 		</tr>
 		<tr>
 			<td>Cell</td>
 			<td><%= p.email %></td>
 		</tr>
  <% end %>
</table>

<br/>
<br/>



<!-- ====================================================================== -->
<!-- device info -->
<h3>
	<font size="5">Computer Info</font>
</h3>
<table class="display" border="1">
  <% @person.tap do |p| %>
	  <tr>
	    <th>Category</th>
	    <th>Your Info</th>
	  </tr>
	  <tr>
	  	<td>First Name</td>
	  	<td><%= p.firstname %></td>
 		</tr>
 		<tr>
 			<td>Last Name </td>
 			<td><%= p.lastname %></td>
 		</tr>
 		<tr>
 			<td>Email</td>
 			<td><%= p.email %></td>
 		</tr>
 		<tr>
 			<td>Cell</td>
 			<td><%= p.email %></td>
 		</tr>
  <% end %>
</table>	
<br><br>


<h3>
	<font size="5">Desination Info</font>
</h3>
<br><br>


<h3>
	<font size="5">VPN Info</font>
</h3>
<br><br>
