<h2>Edit location information</h2>


<%= semantic_form_for @person do |f| %>
  <%= f.inputs do %>
    <%= f.input :region, :as => :string %>
  <% end %>
  <%= f.actions %>
<% end %>


<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>  