= form_for @device do |f|
  - if @device.errors.any?
    #error_explanation
      %h2= "#{pluralize(@device.errors.count, "error")} prohibited this device from being saved:"
      %ul
        - @device.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Kind (EG, external number, laptop, iPad, tablet, cell phone)"
    = f.text_field :kind
  .field
    = label_tag "Operating System (EG Mac 10.8, Windows 7, Windows 8)"
    = f.text_field :os
  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :password
    = f.text_field :password
  .field
    = f.label "Accessories (EG, charger, flower covered case)"
    = f.text_field :accessories
  .actions
    = f.submit 'Save'
