<!-- form has been revised to be double nested from scaffold form -->

<%= form_for([@person, @device]) do |f| %>
		
		<div class="field">
	    <%= f.label :brand %><br/>
	    <%= f.text_field :brand %>
	  </div>
	  <div class="field">
	    <%= f.label :model %><br/>
	    <%= f.text_field :model %>
	  </div>
	  <div class="field">
	    <%= f.label :color %><br/>
	    <%= f.text_field :color %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	
<% end %>