<!-- form has been revised to be double nested from scaffold form -->
<%= form_for([@person, @device]) do |f| %>		
		<div class="field">
	    <%= f.label :operating_system %><br/>
	    <%= f.select :name, ["PC", "Apple/Mac OSX", "Other"] %>
	  </div>		

		<div class="field">
	    <%= f.label :brand %><br/>
	    <%= f.text_field :brand %>
	  </div>
	  <br/>
	  <b>ATTENTION ALL MAC USERS </b><br/>
If your computer did not come with Lion // Mac OSX 10.7 (IE, Mac 10.6/Snow Leopard, 10.5 Leopard, etc), you need to <br/>
<ol>
	<li>try to "turn on" File Vault 2 full drive encryption <a href="http://support.apple.com/kb/HT4790">(see this Apple help guide)</a></li>
	<li>if necessary go by the Apple store with your backups and have their Mac reinstalled if necessary (Mac Operating System will ).</li>
</ol>

		<br/>
	  <div class="field">
	    <%= f.label :model %><br/>
	    <%= f.text_field :model %>
	  </div>
	  <div class="field">
	    <%= f.label :color %><br/>
	    <%= f.text_field :color %>
	  </div>
	  <div class="field">
	    <%= f.label :Username %>  (if your device has a specific username)<br/>
	    <%= f.text_field :computer_username %>
	  </div>
	  <div class="field">
	    <%= f.label :password %><br/>
	    <%= f.text_field :computer_password %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
<% end %>

