-# expected locals:
-# devices as Array of Devices

%table
  %tr
    %th Kind
    %th Os
    %th Username
    %th Password
    %th Status
    %th Accessories
    %th
    %th
    %th

  - devices.each do |device|
    %tr
      %td= device.try(:kind)
      %td= device.try(:os)
      %td= device.try(:username)
      %td= device.try(:password)
      %td= device.try(:status).try(:value)
      %td= device.try(:accessories)
      %td= link_to 'Show', device
      %td= link_to 'Edit', edit_device_path(device)
