-# expected locals:
-# devices as Array of Devices

%table
  %tr
    %th Kind
    %th Os
    %th Username
    %th Password
    %th Status
    %th Drop off
    %th Pick up
    %th Complexity
    %th Accessories
    %th
    %th
    %th

  - devices.each do |device|
    %tr
      %td= device.kind
      %td= device.os
      %td= device.username
      %td= device.password
      %td= device.status.value
      %td= device.drop_off
      %td= device.pick_up
      %td= device.complexity
      %td= device.accessories
      %td= link_to 'Show', device
      %td= link_to 'Edit', edit_device_path(device)
      %td= link_to 'Destroy', device, :method => :delete, :data => { :confirm => 'Are you sure?' }