<h1>Listing devices</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Color</th>
    <th>Person</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @devices.each do |device| %>
  <tr>
    <td><%= device.name %></td>
    <td><%= device.brand %></td>
    <td><%= device.model %></td>
    <td><%= device.color %></td>
    <td><%= device.person %></td>
    
    <td><%= link_to 'Edit', edit_person_device_path(device) %></td>
    <td><%= link_to 'Destroy', person_device, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Device', new_person_device_path %>
