<p id="notice"><%= notice %></p>


<!-- ====================================================================== -->
<!-- LINKS -->
<%# <%= link_to 'Edit', edit_device_path(@device) %>
<%# <%= link_to 'Back', devices_path %>
<%= link_to 'My Profile Page', person_path(current_person) %> | 
<%= link_to 'Edit This Device', edit_person_device_path(@person, @device) %>



<!-- ====================================================================== -->
<!-- PERSON -->
<p>
  <b>Person:</b>
  <%= @person.firstname %> <%= @person.lastname %>
</p>


<!-- ====================================================================== -->
<!-- DEVICE ATTRIBUTES -->
<hr>
<h2>Device</h2>
<button><%= @device.name %></button>

<p>
  <b>Type:</b>
  <%= @device.name %>
</p><p>
  <b>Brand:</b>
  <%= @device.brand %>
</p>
<p>
  <b>Model:</b>
  <%= @device.model %>
</p>
<p>
  <b>Color:</b>
  <%= @device.color %>
</p>
<p>
  <b>Username:</b>
  <%= @device.computer_username %>
</p>
<p>
  <b>Password:</b>
  <%= @device.computer_password %>
</p>