%a.brand{href: root_path}= 'Slingshot'
- if current_user
  %ul.nav
    %li
      %a{href: root_path}= 'Dashboard'
    %li
      %a{href: profile_path}= 'Personal Info'
    %li
      %a{href: location_path}= 'Location'
    %li
      %a{href: devices_path}= 'Devices'
    %li 
      %a{href: vpn_path}= 'Vpn Account'
  %ul.pull-right.nav
    %li
      = link_to 'Logout', destroy_user_session_path, method: :delete

- else
  %ul.pull-right.nav
    %li
      %a{href: new_user_session_path }= 'Sign in'
